<div class="layout-sidebar-backdrop"></div>
<div class="layout-sidebar-body">
  <div class="custom-scrollbar" ng-show="app.sidebar.isFixed" custom-scrollbar color="#fff" opacity=0.15>
    <nav class="sidenav-collapse collapse" uib-collapse="app.sidebar.xs.isCollapsed">
      <ul class="sidenav" side-navigation ng-class="{'sidenav-collapsed': app.sidebar.isCollapsed}">
        <li class="sidenav-search hidden-md hidden-lg">
          <form class="sidenav-form" action="/">
            <div class="form-group form-group-sm">
              <div class="input-with-icon">
                <input class="form-control" type="text" placeholder="Search…">
                <span class="icon icon-search input-icon"></span>
              </div>
            </div>
          </form>
        </li>
        <li class="sidenav-heading">Navigation</li>
        <li class="sidenav-item has-subnav" ng-class="{open: $state.includes('dashboards'), active: $state.includes('dashboards')}">
          <a href="#">
            <span class="sidenav-icon icon icon-home"></span>
            <span class="sidenav-label">Dashboards</span>
          </a>
          <ul class="sidenav-subnav collapse">
            <li class="sidenav-subheading">Dashboards</li>
            <li ui-sref-active="active"><a ui-sref="dashboards.dashboard-1">Main</a></li>
            
          </ul>
        </li>
        
        <li class="sidenav-heading">Pages</li>
        
        <li class="sidenav-item" ui-sref-active="open active">
          <a ui-sref="root.contacts">
            <span class="sidenav-icon icon icon-users"></span>
            <span class="sidenav-label">Clients</span>
          </a>
        </li>
        <li class="sidenav-item has-subnav" ng-class="{open: $state.includes('mailbox'), active: $state.includes('mailbox')}">
          <a href="#">
            <span class="sidenav-icon icon icon-envelope"></span>
            <span class="sidenav-label">Activities</span>
          </a>
          <ul class="sidenav-subnav collapse">
            <li class="sidenav-subheading">Activity</li>
            <li ui-sref-active="active"><a ui-sref="mailbox.mail-1">InBound</a></li>
            <li ui-sref-active="active"><a ui-sref="mailbox.mail-2">OutBound</a></li>
          </ul>
        </li>
        
      </ul>
    </nav>
  </div><!-- /.custom-scrollbar -->
  <div class="custom-scrollbar" ng-hide="app.sidebar.isFixed">
    <nav class="sidenav-collapse collapse" uib-collapse="app.sidebar.xs.isCollapsed">
      <ul class="sidenav" side-navigation ng-class="{'sidenav-collapsed': app.sidebar.isCollapsed}">
        <li class="sidenav-search hidden-md hidden-lg">
          <form class="sidenav-form" action="/">
            <div class="form-group form-group-sm">
              <div class="input-with-icon">
                <input class="form-control" type="text" placeholder="Search…">
                <span class="icon icon-search input-icon"></span>
              </div>
            </div>
          </form>
        </li>
        <li class="sidenav-heading">Navigation</li>
        <li class="sidenav-item has-subnav" ng-class="{open: $state.includes('dashboards'), active: $state.includes('dashboards')}">
          <a href="#">
            <span class="sidenav-icon icon icon-home"></span>
            <span class="sidenav-label">Dashboards</span>
          </a>
          <ul class="sidenav-subnav collapse">
            <li class="sidenav-subheading">Dashboards</li>
            <li ui-sref-active="active"><a ui-sref="dashboards.dashboard-1">Main</a></li>
          </ul>
        </li>
        
        
        <li class="sidenav-heading">Pages</li>
        
        <li class="sidenav-item" ui-sref-active="open active">
          <a ui-sref="root.contacts">
            <span class="sidenav-icon icon icon-users"></span>
            <span class="sidenav-label">Clients</span>
          </a>
        </li>
        <li class="sidenav-item has-subnav" ng-class="{open: $state.includes('mailbox'), active: $state.includes('mailbox')}">
          <a href="#">
            <span class="sidenav-icon icon icon-envelope"></span>
            <span class="sidenav-label">Activities</span>
          </a>
          <ul class="sidenav-subnav collapse">
            <li class="sidenav-subheading">Activity</li>
            <li ui-sref-active="active"><a ui-sref="mailbox.mail-1">InBound</a></li>
            <li ui-sref-active="active"><a ui-sref="mailbox.mail-2">OutBound</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div><!-- /.custom-scrollbar -->
</div><!-- /.layout-sidebar-body -->